*{
    margin: 0px;
    padding: 0px;
    background: url(../img/fnd1.jpg);
    background-size: cover;
   
}


#body{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100px;
    

}

#contenedor{
    
    margin: auto;
    width: 40%;
    height: 60px;
    background: darkcyan;
    padding: 20px;
}

    
    
#contenedor nav ul li:hover{
    background: rgba(239, 133, 10, 0.78);
    border-radius: 25px;}
    

#contenedor nav ul li{
    margin-top: 15px;
    list-style-type: none;
    float: left;
    margin-left: 30px;
    padding: 20px;
    text-align: right;
    
    
}

#contenedor nav ul li a{
    color: #fff;
    
}

iframe{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
}